body {
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, Open Sans, Helvetica Neue,
    sans-serif;
}

h1 {
  text-align: center;
  letter-spacing: 0.1rem;
  font-weight: lighter;
  margin-bottom: 0.5rem;
  margin-top: 3rem;
}

.title-underline {
  background: #10b981;
  width: 7rem;
  height: 0.25rem;
  margin: 0 auto;
}

.tours {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 40px;
  margin: 2rem;
}

.single-tour {
  position: relative;
  text-align: center;
  flex-basis: 225px;
  box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding-bottom: 20px;
  background-color: white;
}

.tour-img {
  width: 320px;
  height: 20rem;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

.tour-price {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5rem;
  color: white;
  background-color: #10b981;
  letter-spacing: 2px;
  border-top-right-radius: 10px;
}

.tour-info {
  padding: 10px;
}

.tour-info h5 {
  font-size: 1.25rem;
  letter-spacing: 0.1rem;
}

.tour-info button {
  border: none;
  color: #10b981;
  font-weight: bold;
  cursor: pointer;
}

.tour-info p {
  color: grey;
}

button {
  border: 1px solid #10b981;
  border-radius: 5px;
  color: #10b981;
  background: transparent;
  margin: 0 auto;
  padding: 0.375rem 0.75rem;
  width: 90%;
  letter-spacing: 1px;
  cursor: pointer;
}

button:hover {
  color: white;
  background-color: #10b981;
  transition: 0.5s;
}
